/*************** Main CSS *************/
body {
    margin: 0;
}

.audiofeed {
    width: 200px;
    position: relative;
    top: 120px;
    height: auto;
    left: 40%;
}

.audiofeed .speech {
    display: grid;
}

.speech {
    position: relative;
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
  }

  .speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
  }

  .speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }

  audio {
      width: 100%;
      top: 25px;
      position: relative;
  }

  .displayname {
      position: relative;
      left: 80px;
      top: 10px;
  }

  /******************** Profile Page *****************/

  .profilebanner {
      width: 100%;
      height: 400px;
      background-color: gray;
      top: 0px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  .profileavatar {
      border-radius: 75px;
      border: 1px solid black;
      width: 80px;
      height: 80px;
      left: 45%;
      position: absolute;
      top: 355px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  .personalinfo {
      position: absolute;
      top: 345px;
      width: 100%;
  }

  .personalinfo li {
      display: inline-block;
  }

  .leftpersonal {
      position: relative;
      left: 20px;
  }

  .leftpersonal p {
      font-size: 20px;
  }

  .rightpersonal {
      float: right;
      right: 20px;
      position: relative;
      top: -10px;
  }

  .rightpersonal li {
    padding-right: 15px;
  }

  .followingnum, .followersnum, .recordingsnum {
      font-weight: bold;
      text-align: center;
  }

  .profilefeed {
    width: 200px;
    position: relative;
    top: 120px;
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
}

  /******************** Responsive Designs *************/

  @media only screen and (max-width: 700px){
    .profileavatar {
        left: 245px;
        top: 20px;
    }
    .profilebanner {
        height: 210px;
    }

    .personalinfo .leftpersonal {
        top: -70px;
        left: 235px;
    }
    .personalinfo {
        top: 170px;
    }

    .personalinfo .rightpersonal {
        right: 55px;
    }

    .followingnum, .followersnum, .recordingsnum {
        top: -23px;
        position: absolute;
    }
}

@media only screen and (max-width: 500px){
    .audiofeed {
        left: 15%;
    }

    .profileavatar {
        left: 210px
    }

    .personalinfo {
        left: -35px;
    }
}